Repository AI-News-Team/AI-News, pull requests merged in 2023-03, with the labels that each got.

#12 Gseal 1 initial front end layout
  client/package-lock.json
  client/package.json
  client/postcss.config.cjs
  client/src/App.css
  client/src/App.tsx
  client/src/components/nav/NavBar.tsx
  client/src/components/page-components/HeadlineCard.tsx
  client/src/components/page-components/Headlines.tsx
  client/src/components/page-components/StoryCard.tsx
  client/src/components/page-components/TopicSection.tsx
  client/src/images/sample1.jpg.webp
  client/src/images/sample1.png
  client/src/images/sample2.jpg
  client/src/index.css
  client/src/main.tsx
  client/src/pages/Home.tsx
  client/src/pages/TopicPage.tsx
  client/src/styles/colors.tsx
  client/src/utils/axios.tsx
  client/tailwind.config.cjs
  server/app.ts
Labels: front end

#14 `article.summary` Route for Homepage
  server/.prettierrc
  server/app.ts
  server/package-lock.json
  server/package.json
  server/route/article.ts
  shared/api.ts
  shared/table.ts
Labels: server

#22 `PR` Article filtration and ordering
  server/package-lock.json
  server/package.json
  server/route/article.ts
  server/route/router.ts
  server/tsconfig.json
  server/util/schema.ts
  shared/api.ts
  shared/index.ts
  shared/util.ts
Labels: server

#24 Gseal 19 site footer
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/footer/Footer.tsx
  client/src/components/graphics/HomeLogo.tsx
  client/src/components/nav/FooterNav.tsx
  client/src/components/nav/NavBar.tsx
  client/src/components/page-components/LeadingSidebar.tsx
  client/src/components/page-components/StoryCard.tsx
  client/src/components/tools/SearchBox.tsx
  client/src/images/commonImages.tsx
  client/src/pages/ArticlePage.tsx
  client/src/pages/Home.tsx
  client/src/pages/TopicPage.tsx
  client/src/styles/colors.tsx
  server/route/article.ts
Labels: enhancement, front end

#29 `28` Fake Article Categories for Prototype
  database/src/init.sql
  server/app.ts
  server/route/article.ts
  server/route/category.ts
  server/route/index.ts
  shared/category.ts
  shared/index.ts
  shared/table.ts
Labels: server, database
