Repository AI-News-Team/AI-News, pull requests merged in 2023-05, with the labels that each got.

#43 Gseal responsive design
  client/README.md
  client/init-client.sh
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/footer/Footer.tsx
  client/src/components/nav/MobileNav.tsx
  client/src/components/nav/NavBar.tsx
  client/src/components/page-components/HeadlineCard.tsx
  client/src/components/page-components/Headlines.tsx
  client/src/components/page-components/StoryCard.tsx
  client/src/components/page-components/TopicSection.tsx
  client/src/pages/ArticlePage.tsx
  client/src/pages/Home.tsx
  client/src/pages/TopicPage.tsx
  client/template.env
Labels: enhancement, front end

#41 `39` semantic searching
  database/scripts/build.sh
  search/.dockerignore
  search/Dockerfile
  search/init.local.sh
  search/init.sh
  search/main.py
  search/requirements.txt
  search/template.env
  server/package-lock.json
  server/package.json
  server/route/article.ts
  server/template.env
  shared/api.ts
Labels: research, search

#50 add search results page
  client/src/App.tsx
  client/src/components/footer/Footer.tsx
  client/src/components/nav/MobileNav.tsx
  client/src/components/nav/NavBar.tsx
  client/src/components/search/SearchBox.tsx
  client/src/components/search/SearchResult.tsx
  client/src/components/tools/SearchBox.tsx
  client/src/pages/ArticlePage.tsx
  client/src/pages/Search.tsx
Labels: enhancement, front end, search

#49 Server Housekeeping and Organization
  search/template.env
  server/README.md
  server/app.ts
  server/constant/code.ts
  server/database/index.ts
  server/environment/index.ts
  server/package-lock.json
  server/package.json
  server/route/Article/article.create.ts
  server/route/Article/article.get.ts
  server/route/Article/article.list.ts
  server/route/Article/article.search.domain.ts
  server/route/Article/article.search.ts
  server/route/Article/article.summary.ts
  server/route/Article/articleRouter.ts
  server/route/Article/index.ts
  server/route/Category/category.ts
  server/route/Category/index.ts
  server/route/article.ts
  server/route/category.ts
  server/route/index.ts
  server/route/router.ts
  server/route/util.ts
  server/template.env
  server/types/index.ts
  server/util/schema.ts
Labels: enhancement, server

#53 Finish the categories
  database/src/init.sql
  scraper/dev_journal_artem.txt
  scraper/newsscrapper/spiders/bbc.py
  scraper/newsscrapper/spiders/cnn.py
  scraper/newsscrapper/spiders/foxNews.py
  scraper/newsscrapper/spiders/newYorkTimes.py
Labels: Web Scraping
